
.principal {
  display: flex;
  flex-direction: row; 
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


.contenido, .principal, .formulario {
  max-width: 100%;
  overflow-x: hidden;
}

/* Móviles (320px - 576px) */
@media (max-width: 576px) {
 
  .principal {
    
    display: grid;
    grid: repeat(2, 60px);
  }
  .menu nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu{
    width: 100%;
    min-height: 400px;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 5px 0;
  }
  nav ul li {
    margin: 5px 10px;
  }
}

/* Tablets (577px - 992px) */
@media (min-width: 577px) and (max-width: 992px) {
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 5px 0;
  }
  nav ul li {
    margin: 10px;
  }

  .principal {
  display: flex;
  flex-direction: row; 
    
  }
}
