
.contenido div {
    margin-bottom: 30px;
}

.informacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
h1{
    text-align: center;
    padding: 20px;
}
.redes ul {
    max-width: 350px;
}